/* 
--> Colors and font:
- Chart blue: #0065FC
- Lighter blue: #DEEBFF
- Grey background: #F2F2F2
- font-family: 'Raleway', sans-serif;

--> Icons (fontAwesome):
- Position: <i class="fa-solid fa-location-dot"></i>
- Money bill wave: <i class="fa-solid fa-money-bill-wave"></i>
- Hands in the air: <i class="fa-solid fa-child-reaching"></i>
- Heart: <i class="fa-solid fa-heart"></i>
- Dog: <i class="fa-solid fa-dog"></i>
- Star: <i class="fa-solid fa-star"></i>
- Info (light): <i class="fa-light fa-circle-info"></i>
- Magnifying glass: <i class="fa-solid fa-magnifying-glass"></i>


--> font-weight: 400, 500, 600, 700, 800;

--> Breakpoints:
    Tablets --> max 992px.
    Mobile --> max 768px

--> Computer first then Tablets then Mobile.

--> size: % and px.

IMPORTANT:
 
- Use back margin and no top margin for gap between sections !!
- 



*/

/* Changing the default browser style  */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

form{
    display: flex;
}

input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

a{ /* Remove default */
    text-decoration: none;
    color: inherit;
}

li{ /* Remove default */
    display: inline-block;
    list-style: none;
}



/* HEADER */
header{
    margin: 0px 70px 0px 70px; /* 70px of margin right and left for all containers except footer */
                       /* And 20px margin top */
    display: flex;
    flex-flow: row;
}

.logo_container{
    flex: 0 1 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav{
    flex: 0 1 30%;
    line-height: 135px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 60px;
    border: none;
}

.nav_link{
    text-decoration: none;
    color: inherit;
}

.nav_link:hover{
    color: #0065FC;
    border-top : 2px solid #0065FC;
}

#logo{
    flex-basis: 17%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* SECTION */
#title_section{
    margin: 0px 70px 0px 70px; /* Same margin righ-left */
}
/* 3 Sections: Search/filters section, main_body1, main_body2 */

#title{
    margin-bottom: 10px;
}

.normal_paragraph{
    margin-top: none;
    font-weight: 400;
    margin-bottom: 20px;
}

/* search bar */
.search_bar_wrapper{
    display: flex;
    margin-bottom: 40px;
    height: 50px;
}
.icon_container{
    text-align: center;
    width: 50px;
    border: 1px solid #F2F2F2; /* Same border for the 3 elements */
    background-color: #F2F2F2;
    border-right: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 12px;
    font-size: 130%;
}
.search_bar{
    width: 300px;
    border: 1px solid #F2F2F2; /* Same border for the 3 elements */
    border-left: none;
    border-right: none;
    padding: 15px;
    height: 100%;
}
.search_bar:focus{
    border: 1px solid #8A8A8A;
}
::placeholder{
    color: inherit;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.search_button_desktop{
    color: #fff;
    background-color: #0065FC;
    border: 1px solid #F2F2F2; /* Same border for the 3 elements */
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    cursor: pointer;
    height: 100%;
}
.search_button_mobile{
    display: none;
    visibility: none;
}

/* filters */
.filter_list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}
.filter_items{
    display: inline-block;
    width: 100%;
    padding-right: 16px;
    font-weight: 700;
    border: 3px solid #D5D5D5;
    border-radius: 30px;
}
.filter_items:hover{
    border-color: #0065FC;
}

.fa-money-bill-wave{
    padding: 15px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
}
.fa-child-reaching{
    
    padding: 15px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
}
.fa-heart{
    padding: 15px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
}
.fa-dog{
    padding: 15px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
}

/* message info */
.info_wrapper{
    width: 420px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.fa-circle-info{
    color: #0065FC;
}
#info_message{
    font-weight: 400;
}


/* BODY SECTION 1 */
#main_body_wrapper1{
    margin: 0px 70px 0px 70px;
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}


/* ACCOMODATION CARDS */
#accomodations_cards_wrapper{
    flex: 1 1 67%; /* 2/3 of the section */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
    background-color: #F2F2F2;
    border-radius: 25px;
}
#accomodations_cards_wrapper > h2{ /* Make both title take 100% of width */
    flex: 1 1 100%;
}
#accomodations_cards_wrapper > h3{
    flex: 1 1 100%;
}

.accomodations_cards{
    background-color: #fff;
    flex: 0 1 250px;
    height: 190px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.accomodations_cards:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
.accomodations_cards_container{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.accomodations_images{
    width: 100%;
    height: 60%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 5px;
    object-fit: cover; /* Cut the image without resizing */
}
.accomodations_cards_text{
    padding: 0px 10px;
}
.accomodations_cards_text *{
    padding: 3px;
    padding-top: 0px;
}
.accomodations_cards_text i.fa-star{
    color: #F2F2F2;
    width: 10px;
    font-size: 12px;
}
.accomodations_cards_text i.fa-star.star_blue{
    color: #0065FC;
}

/* POPULAR CARDS */
#popular_cards_wrapper{
    flex: 1 1 33%; /* 1/3 of the section */
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    background-color: #F2F2F2;
    border-radius: 25px;
}
#most_popular_title_container{
    display: flex;
    justify-content: space-between;
}
#most_popular_title_container i.fa-solid.fa-star{
    font-size: 20px;
}
.popular_cards{
    flex: 0 1 150px;
    width: 350px;
    max-height: 150px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
}
.popular_cards:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
.popular_cards_container{
    display: flex;
}
.popular_images{
    height: 100%;
    width: 35%;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding: 5px;
    object-fit: cover; /* Cut the image without resizing */
}
.popular_cards_text{
    padding: 5px 20px;
}
.popular_cards_text > h4{
    padding: 10px;
    padding-bottom: 15px;
}
.popular_cards_text > p{
    padding: 10px;
    padding-bottom: 15px;
}
.popular_cards_text > .star_icons_container{
    padding: 10px;
}
.popular_cards_text i.fa-star{
    color: #F2F2F2;
    width: 10px;
    font-size: 12px;
}
.popular_cards_text i.fa-star.star_blue{
    color: #0065FC;
}

/* BODY SECTION 2 */
/* ACTIVITIES CARDS */
#main_body_wrapper2{
    display: none;
    margin-bottom: 40px;
}



/* Media query for Tablets breakpoints */
@media (min-width: 768px) and (max-width: 992px){

    /* HEADER */
    header{
        margin: 0px; /* no margin for space */
        margin-bottom: 40px;
        display: flex;
        flex-flow: column;
        
    }

    .logo_container{
        flex-basis: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    
    nav{
        flex-basis: 50%;
        line-height: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
    }

    #logo{
        flex-basis : 15%;
        margin : 0px;
        height: 100%;
        background-color: transparent;
        cursor: pointer;
    }

    .nav_link{
        flex: 0 1 50%;
        text-decoration: none;
        color: inherit;
        text-align: center;
        line-height: 60px;
    }
    
    .nav_link:hover{
        color: #0065FC;
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }


    /* SECTION */
section{
    margin: 0px;
    margin-left: 10px;
    text-align: center; /* Aligne elements on Tablet */
    margin-bottom: 40px;
}

#title{
    margin-bottom: 10px;
}
.normal_paragraph{
    margin-top: none;
    font-weight: 400;
    margin-bottom: 20px;
}

/* search bar */
.search_bar_wrapper{ /* Align center elements on Tablets */
    display: flex;
    height: 50px;
    margin-left: 27%;
    margin-bottom: 25px; /* small margin for tablets and mobiles */
}
.icon_container{
    text-align: center;
    width: 50px;
    border: 1px solid #F2F2F2; /* Same border for the 3 elements */
    background-color: #F2F2F2;
    border-right: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 12px;
    font-size: 130%;
}
.search_bar{
    float: left;
    width: 285px;
    border: 1px solid #F2F2F2; /* Same border for the 3 elements */
    border-left: none;
    border-right: none;
    padding: 15px;
}
.search_bar:focus{
    border: 1px solid #8A8A8A;
    
}
::placeholder{
    color: inherit;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.search_button_desktop{
    color: #fff;
    background-color: #0065FC;
    border: 1px solid #F2F2F2; /* Same border for the 3 elements */
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    cursor: pointer;
    height: 100%;
}
.search_button_mobile{
    display: none;
    visibility: none;
}

/* filters */
.filter_list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; /* small gap when wrap for mobile */
    margin-bottom: 25px; /* small margin for tablets and mobiles */
}
.filter_items{
    flex: 1 1 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    border: 3px solid #D5D5D5;
    border-radius: 30px;
}

.fa-money-bill-wave{
    padding: 15px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
}
.fa-child-reaching{
    
    padding: 15px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
}
.fa-heart{
    padding: 15px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
}
.fa-dog{
    padding: 15px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
}

/* message info */
.info_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px; /* small margin for tablets and mobiles */
}
.fa-circle-info{
    color: #0065FC;
}
#info_message{
    font-weight: 400;
}

/* ARTICLE */

}

/* Media query for Mobile breakpoint */
@media all and (max-width: 768px){
  
    /* HEADER */
    header{
        margin: 0px; /* no margin for space */
        margin-bottom: 25px;
        display: flex;
        flex-flow: column;   
    }

    .logo_container{
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    nav{
        line-height: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;    
    }

    #logo{
        flex-basis : 10%;
        flex-shrink: 0;
        margin : 0px;
        height: 100%;
        background-color: transparent;
        cursor: pointer;
    }

    .nav_link{
        flex: 0 1 50%;
        text-decoration: none;
        color: inherit;
        text-align: center;
        line-height: 60px;
    }
    
    .nav_link:hover{
        color: #0065FC;
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }

    /* SECTION */
    section{
        margin: 0px;
        margin-left: 10px;
        margin-bottom: 40px;
    }
    
    #title{
        margin-bottom: 10px;
    }
    
    .normal_paragraph{
        margin-top: none;
        font-weight: 400;
        margin-bottom: 20px;
    }
    
    /* search bar */
    .search_bar_wrapper{ /* Align center elements on Tablets */
        display: flex;
        height: 50px;
        /* no margin-left for mobiles */
        margin-bottom: 25px; /* small margin for tablets and mobiles */
    }
    .icon_container{
        flex-shrink: 0;
        text-align: center;
        width: 50px;
        border: 1px solid #F2F2F2; /* Same border for the 3 elements */
        background-color: #F2F2F2;
        border-right: none;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 12px;
        font-size: 130%;
    }
    .search_bar{
        flex-shrink: 2;
        width: 250px; /* Smaller search bar for mobile */
        border: 1px solid #F2F2F2; /* Same border for the 3 elements */
        border-left: none;
        border-right: none;
        padding: 15px;
    }
    .search_bar:focus{
        border: 1px solid #8A8A8A;
        
    }
    ::placeholder{
        color: inherit;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }
    .search_button_desktop{
        display: none;
    }
    .search_button_mobile{
        flex-shrink: 0;
        display: inline-block;
        background-color: #0065FC;
        color: #fff;
        height: 50px;
        width: 50px;
        border: 1px solid #F2F2F2; /* Same border for the 3 elements */
        border-radius: 15px;
        cursor: pointer;
    }
    
    /* filters */
    .filter_list{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px; /* small gap when wrap for mobile */
        margin-bottom: 25px; /* small margin for tablets and mobiles */
    }
    
    .filter_list li:nth-child(1){ /* Make the "Filter" title take 100% of width to push the filters below */
        width: 100%;
    }

    .filter_items{
        flex: 1 1 25%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        font-weight: 700;
        border: 3px solid #D5D5D5;
        border-radius: 30px;
    }
    
    .fa-money-bill-wave{
        padding: 15px;
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 50%;
    }
    .fa-child-reaching{
        
        padding: 15px;
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 50%;
    }
    .fa-heart{
        padding: 15px;
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 50%;
    }
    .fa-dog{
        padding: 15px;
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 50%;
    }
    
    /* message info */
    .info_wrapper{
        width: 300px;
        display: flex;
        margin-bottom: 25px; /* small margin for tablets and mobiles */
    }
    .fa-circle-info{
        color: #0065FC;
    }
    #info_message{
        font-weight: 400;
    }

/* ARTICLE */

}




